<div id = "stylists">@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<p>Specialty: @Html.DisplayFor(model => model.Details)</p>

@if (ViewBag.Clients.Count > 0)
{
  <hr />
  <h5>Clients of @Model.Name</h5>
  foreach (Client client in ViewBag.Clients)
  {
    <p id="link">@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</p>
  }
}

<hr />
<p id="link">@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p id="link">@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p id="link">@Html.ActionLink("Back to list", "Index")</p>
<p id="link">@Html.ActionLink("Home", "Index", "Home")</p></div>
