<div id = "stylists">@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h4>Add a new Stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Details)
  @Html.TextBoxFor(model => model.Details)
  <input type="submit" value="Add new stylist" />
}
<p id="link">@Html.ActionLink("Show all stylists", "Index")</p></div>