<div id = "clients">@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Details): @Html.DisplayFor(model => model.Details)<h3>
<p id="link">@Html.ActionLink("Back to list", "Index")</p>
<p id="link">@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p id="link">@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p></div>