<div id = "clients">@{
  Layout = "_Layout";
}

@using Salon.Models;
@model List<Salon.Models.Client>;

<h1>Clients</h1>

@if (@Model.Count == 0)
{
  <h3>No clients have been added yet!</h3>
} 

@foreach (Client client in Model)
{
  <li id="link">@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | Info: @client.Details | @client.Stylist.Name</li>
}

<p id="link">@Html.ActionLink("Add new client", "Create")</p>
<p id="link">@Html.ActionLink("Home", "Index", "Home")</p></div>